<footer>
  <div class="footer-contact">
    Jean-Marc Vachez - 06.63.82.75.73<br>
    <span>450E chemin des Bonnes Herbes, 83200 TOULON</span>
  </div>
  <div class="footer-pushed">
    Atout-soin ©2016 - Site propulsé par <a href="https://www.linkedin.com/in/tiffany-vachez-729725114" target="_blank">Tiffany Vachez</a>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://use.fontawesome.com/882b1360ad.js"></script>
<script src="../js/homepage.js"></script>
<script src="../js/hamburger.js"></script>
