.top-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 180px;
}

.top-contact p {
  margin: 10px;
  font-size: 1.1em;
  text-align: center;
}

.top-contact a {
  color: $base-color;
  text-decoration: underline;
}

.top-contact i {
  font-size: 1em;
}

.top-title {
  margin-top: 50px;
}

.middle-container {
  right: 0;
  width: 100%;
}

.map-container {
  display: flex;
  justify-content: space-between;
}

.map-annotations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

.map-annotations p {
  margin: 10px;
  font-size: 1.1em;
}

.map-annotations span {
  font-weight: bold;
  font-size: 1.2em;
}

.map {
  width: 50%;
  border: solid 3px rgba(24,24,24,0.3);
  border-top: none;
}

.bottom-description p {
  margin: 40px 50px 20px 50px;
  text-align: justify;
  text-indent: 50px;

  &:last-child {
    margin-bottom: 80px;
  }
}
