$base-font-size:                              14px;
$base-color:                                  #404040;
$base-bg-anthracite:                          #2a2a2a;
$base-bg-blue:                                #60919f;
$base-bg-grey:                                #e8e8e8;
$base-bg-green:                               #a0d1c5;
$base-bg-toucan:                              #99bdb6;
$base-yellow:                                 #f3c600;

$base-feature-height:                         150px;
$base-section-height:                         1160px;
$base-section-title-font-size:                50px;
$base-section-title-font-size-phone:          35px;
$base-section-title-padding-phone:            10px;
$base-section-title-margin-phone:             15px;
$base-section-title-margin-bottom-phone:      15px;
$base-section-title-margin-top-phone:         80px;
$base-slide-title-margin-phone:               15px;
$base-slide-title-margin-bottom-phone:        15px;
$base-slide-title-padding-phone:              10px;
$base-slide-title-font-size-phone:            30px;
$base-slide-margin-phone:                     $base-slide-title-margin-phone + $base-slide-title-padding-phone;
$base-slide-mobile-height:                    400px;
$base-title-font-size:                        35px;
$base-title-font-size-phone:                  30px;
$base-title-margin:                           20px;
$base-title-letter-spacing:                   0.2em;
$base-title-z-index:                          1000;

$title-letter-spacing:                        0.2em;

$subtitle-margin-bottom:                      130px;
$subtitle-letter-spacing:                     0.2em;

$footer-bg-color:                             #343434;
$footer-color:                                #fff;
$footer-height:                               80px;
$footer-height-tablet:                        100px;
$footer-font-size:                            11px;
$footer-menu-margin-right:                    25px;
$footer-design-font-size:                     13px;
$footer-hyphen-margin:                        15px;
$footer-hyphen-margin-tablet:                 10px;

$header-height:                               80px;
$header-z-index:                              2000;
$base-z-index:                                1990;

$integration-z-index:                         $base-z-index;

$menu-padding:                                30px;
$menu-padding-phone:                          15px;
$menu-border-width:                           10px;
$menu-item-border-color:                      $base-yellow;
$menu-item-font-size:                         12px;
$menu-input-z-index:                          3002;

$logo-margin-left:                            25px;
$logo-margin-top:                             20px;
$logo-width:                                  144px;
$logo-height:                                 37px;
$logo-z-index:                                3001;

$social-media-logo-width:                     41px;
$social-media-logo-width-tablet:              48px;
$social-media-logo-width-phone:               30px;
$social-media-logo-height-phone:              30px;
$social-media-logo-height:                    41px;
$social-media-margin-left:                    25px;

$slide-killer-features-width:                 390px;

$slide-interfaces-bg-color:                   $base-bg-grey;

$ux-bg-color:                                 #a2cab9;
$ux-title-color:                              #fff;
$ux-width:                                    680px;

$killer-features-height:                      860px;
$killer-features-border-color:                #90b2bc;
$killer-features-column-width:                390px;
$killer-features-title-margin-bottom:         90px;
$killer-features-feature-margin-bottom:       30px;
$killer-features-icon-width:                  123px;
$killer-features-icon-height:                 44px;

$interfaces-height:                           1200px;
$interface-title-color:                       $base-color;

$mobile-first-height:                         680px;
$mobile-font-size:                            15px;
$mobile-description-width:                    340px;
$mobile-description-height:                   450px;
$mobile-description-margin-top:               20px;
$mobile-description-margin-bottom:            40px;

$drill-down-bg-color:                         #9abeb5;
$drill-down-height:                           890px;
$drill-down-border-color:                     #b8d2cb;
$drill-down-subtitle-margin-bottom:           80px;

$button-bg-color:                             $base-yellow;
$button-height:                               60px;
$button-width:                                205px;
$button-color:                                #fff;
$button-font-size:                            14px;
$button-call-bg-color:                        $base-bg-green;
$button-hover-bg-color:                       $base-bg-blue;
$button-hover-bg-color--light:                $base-bg-green;
$button-width-phone:                          150px;

$input-width-phone:                           150px;
$input-height-phone:                          56px;
$input-z-index:                               $menu-input-z-index;

$business-feature-width-desktop:              290px;
$business-feature-width-tablet:               230px;
$business-feature-height-desktop:             400px;
$business-feature-height-tablet:              300px;
$business-feature-margin-right-desktop:       85px;
$business-feature-margin-right-tablet:        35px;
$business-feature-margin-phone:               25px;
$business-line-height:                        1.8;
$business-row-margin:                         $base-title-margin;
$business-subtitle-margin-bottom:             140px;
$business-title-font-size:                    $base-title-font-size-phone - 8px;
$business-title-letter-spacing:               0.16em;
$business-title-margin-bottom:                10px;
$business-height:                             1710px;
$business-width-desktop:                      1100px;
$business-subtitle-margin-bottom-mobile:      110px;
$business-subtitle-margin-bottom-phone:       20px;

$toucan-color:                                #797979;
$toucan-column-margin-right:                  90px;
$toucan-column-margin-right-tablet:           45px;
$toucan-description-width:                    480px;
$toucan-description-width-tablet:             410px;
$toucan-feature-width:                        512px;
$toucan-feature-width-tablet:                 430px;
$toucan-feature-height-tablet:                180px;
$toucan-height:                               1490px;
$toucan-section-height:                       1200px;
$toucan-title-margin-bottom:                  10px;
$toucan-row-width-large-desktop:              1100px;

$touco-title-letter-spacing:                  $base-title-letter-spacing;
$touco-title-margin-top:                      $base-title-margin;
$touco-title-font-size:                       20px;
$touco-feature-width:                         577px;
$touco-feature-height:                        140px;
$touco-feature-height-phone:                  auto;

$studio-width-tablet:                         270px;
$studio-width-desktop:                        370px;
$studio-font-size:                            15px;

$small-apps-title-margin-top-large-desktop:   270px;
$small-apps-title-margin-top-phone:           0;
$small-apps-title-margin-top-tablet:          190px;
$small-apps-title-margin-top-desktop:         190px;
$small-apps-button-margin-top-desktop:        45px;
$small-apps-button-margin-top-phone:          5px;
$small-apps-button-width-phone:               $button-width-phone;
$small-apps-row-margin-top-phone:             80px;
$small-apps-left-background-z-index:          10;
$small-apps-right-background-z-index:         11;

$team-portrait-height:                        250px;
$team-distance-to-border-tablet-portrait:     -550px;
$team-distance-to-border-desktop:             -480px;
$team-distance-to-border-medium-desktop:      -250px;
$team-distance-to-border-large-desktop:       -320px;
$team-distance-to-border-x-large-desktop:     -150px;
$team-distance-to-border-xx-large-desktop:    0;
$team-distance-to-border-tablet-landscape:    -430px;
$team-title-margin-top:                       160px;
$team-subtitle-margin-bottom:                 140px;
$team-subtitle-width:                         590px;
$team-subtitle-line-height:                   1.8;
$team-portraits-margin-bottom:                20px;

$clients-logos-width-desktop:                 1011px;
$clients-logos-width-tablet:                  800px;
$clients-description-line-height:             1.5;
$clients-title-letter-spacing:                $base-title-letter-spacing;
$clients-button-margin-top:                   158px;
$clients-quote-margin-top:                    90px;
$clients-quote-padding-left:                  20px;
$clients-quote-padding-right:                 250px;
$clients-quote-width:                         500px;
$clients-quote-width-mobile:                  500px;

$partners-height:                             500px;

$production-features-width:                   630px;
$production-feature-width:                    314px;

$visualisation-navigation-margin-top:         120px;
$visualisation-navigation-margin-top-phone:   40px;

$job-footer-height:                           400px;

$screen-phone-max:                            768px;
$screen-tablet-min:                           $screen-phone-max;
$screen-tablet-max:                           992px;
$screen-tablet-landscape-min:                 768px;
$screen-tablet-landscape-max:                 1024px;
$screen-desktop-min:                          $screen-tablet-max;
$screen-desktop-max:                          1200px;
$screen-medium-desktop-min:                   1400px;
$screen-large-desktop-min:                    $screen-desktop-max+1;
$screen-x-large-desktop-min:                  1600px;
$screen-xx-large-desktop-min:                 1900px;

$mobile-vertical-margin:                      70px;
