<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body class="main-body">
    <div class="main-background">
      <div class="main-content">

        {% include header.html %}

        <h1 class="main-title tarifs-title">- Nos Tarifs -</h1>
        <div class="tarifs-array">
          <div class="tarifs-array__column">
            <div class="tarifs-array__column__row-block tarifs-array__column__row-block--header">
              <p class="row-block row-block--title">Séance relaxation</p>
            </div>
            <div class="tarifs-array__column__row-block">
              <p class="row-block row-block--price">30€</p>
            </div>
            <div class="tarifs-array__column__row-block">
              <ul class="row-block row-block--list">
                <li>Séance de 60 minutes</li>
                <li>lorem</li>
                <li>lorem</li>
              </ul>
            </div>
          </div>
          <div class="tarifs-array__column">
            <div class="tarifs-array__column__row-block tarifs-array__column__row-block--header">
              <p class="row-block row-block--title">Séance complète</p>
            </div>
            <div class="tarifs-array__column__row-block">
              <p class="row-block row-block--price">30€</p>
            </div>
            <div class="tarifs-array__column__row-block">
              <ul class="row-block row-block--list">
                <li>Séance de 60 minutes</li>
                <li>lorem</li>
                <li>lorem</li>
              </ul>
            </div>
          </div>
          <div class="tarifs-array__column">
            <div class="tarifs-array__column__row-block tarifs-array__column__row-block--header">
              <p class="row-block row-block--title">Séance de luxe</p>
            </div>
            <div class="tarifs-array__column__row-block">
              <p class="row-block row-block--price">30€</p>
            </div>
            <div class="tarifs-array__column__row-block">
              <ul class="row-block row-block--list">
                <li>Séance de 60 minutes</li>
                <li>lorem</li>
                <li>lorem</li>
              </ul>
            </div>
          </div>
        </div>

        {% include footer.html %}

      </div>
    </div>
  </body>
</html>
